@page "/admin/configurations"
@using TMod.Blog.Data.Models.ViewModels.Configuration

<MudPaper>
    <MudToolBar WrapContent>
        <MudDateRangePicker 
            Clearable 
            PlaceholderStart="最小创建日期" 
            PlaceholderEnd="最大创建日期" 
            @bind-DateRange="_createDateRange" 
            MaxDate="@DateTime.Today"
            Label="配置项创建日期筛选"
            DisableUnderLine
            Rounded/>
            <MudSpacer />
            <MudTextField @bind-Value="_searchConfigurationKey"
            Label="输入配置项标识模糊筛选"
            Variant="Variant.Outlined"
            Adornment="Adornment.End"
            AdornmentIcon="@Icons.Material.Outlined.Search"/>
    </MudToolBar>
    <MudDivider />
    <span>@_configurationItems?.Count()??0</span>
    <MudTable Items="_configurationItems"/>
    <MudDataGrid T="ConfigurationViewModel" Items="_configurationItems">
        <Columns>
            <PropertyColumn Title="配置项" Property="p=>p.Key"/>
            <PropertyColumn Title="配置值" Property="p=>p.Value"/>
        </Columns>
    </MudDataGrid>
</MudPaper>