@rendermode InteractiveAuto

<MudAppBar Elevation="1">
    <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert class="d-flex align-center">
        <MudTooltip Delay="1000" Text="打开菜单">
            <MudIconButton Icon="@Icons.Material.Outlined.Notes" Color="Color.Inherit" Edge="Edge.Start" aria-label="打开菜单" OnClick="@(()=>_isMenuOpen = !_isMenuOpen)" />
        </MudTooltip>
        <MudSpacer />
        <NavLink ActiveClass="d-flex align-center" href="/admin">
            <MudImage Alt="TMod 博客" Height="32" Width="32" Src="https://cdn.jsdelivr.net/gh/orientalgames-studio/tmodblog-cdn@main/Images/Icons/blog.svg" />
            <MudText Typo="Typo.h5" style="color:black">TMod 博客</MudText>
        </NavLink>
        <MudSpacer />
    </MudHidden>
    <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert>
        <NavLink ActiveClass="d-flex align-center" href="/admin">
            <MudImage Alt="TMod 博客" Height="32" Width="32" Src="https://cdn.jsdelivr.net/gh/orientalgames-studio/tmodblog-cdn@main/Images/Icons/blog.svg" />
            <MudText Typo="Typo.h5" style="color:black">TMod 博客</MudText>
        </NavLink>
        <MudSpacer />
    </MudHidden>
</MudAppBar>
<MudDrawerContainer>
    <MudDrawer ClipMode="DrawerClipMode.Always" Breakpoint="Breakpoint.SmAndDown" @bind-Open="_isMenuOpen" DisableOverlay Elevation="1">
        <div>Drawer Here</div>
    </MudDrawer>
</MudDrawerContainer>