@inherits LayoutComponentBase
@layout MainLayout

<MudLayout>
	<MudAppBar>
		<span>这里是AppBar</span>
	</MudAppBar>
	<MudDrawer ClipMode="DrawerClipMode.Always" Open="true">
		<MudDrawerHeader>
			<MudText Typo="Typo.h6">这里是Drawer</MudText>
		</MudDrawerHeader>
	</MudDrawer>
	<MudMainContent>
		<MudContainer>
			@Body
		</MudContainer>
	</MudMainContent>
</MudLayout>