@inherits LayoutComponentBase

<PageTitle>TMod 博客</PageTitle>

<MudThemeProvider/>
<MudDialogProvider FullWidth="true" MaxWidth="MaxWidth.ExtraSmall"/>
@* <MudPopoverProvider/> *@
<MudSnackbarProvider/>
@Body

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
